/* For tablet device */
@media screen and (max-width: 992px) {
      body {
            padding: 16px;
      }

      /* navbar */
      nav {
            flex-direction: column;
            gap: 10px;
            margin-top: 20px;
      }

      /* banner section  */
      .banner-container {
            flex-direction: column-reverse;
      }

      .banner-content {
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
      }

      .banner-image {
            width: 100%;
      }

      .banner-image img {
            width: 60%;
      }

      .banner-title {
            font-size: 3rem;
      }

      /* Sponsors section */
      .sponsors-container {
            justify-content: center;
            gap: 50px;
      }

      /* popular section */
      .popular-boxes-container {
            grid-template-columns: repeat(2, 1fr);
      }

      /* Featured section */
      .featured-container {
            flex-direction: column-reverse;
      }

      .featured-image {
            width: 100%;
      }

      .featured-image img {
            width: 100%;
            margin-top: 20px;
      }

      .featured-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
      }


}

/* For mobile device */
@media screen and (max-width: 576px) {

      body {
            padding: 16px;
      }

      /* navbar */
      nav {
            flex-direction: column;
            margin-top: 20px;
      }

      nav>ul {
            flex-direction: column;
            gap: 5px;
            text-align: center;
      }

      /* banner section  */
      .banner-container {
            flex-direction: column-reverse;
      }

      .banner-content {
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
      }

      .banner-image {
            width: 100%;
      }

      .banner-image img {
            width: 70%;
      }

      .banner-title {
            font-size: 2rem;
      }


      /* Sponsors section */
      .sponsors-container {
            justify-content: center;
            gap: 20px;
      }

      /* popular section */
      .popular-boxes-container {
            grid-template-columns: 1fr;
      }

      /* Featured section */
      .featured-container {
            flex-direction: column-reverse;
      }

      .featured-image {
            width: 100%;
      }

      .featured-image img {
            width: 100%;
            margin-top: 20px;
      }

      .featured-content {
            width: 100%;
      }

}